@page
@model api_flms_service.Pages.Users.AddModel
@{
    ViewData["Title"] = "Add User";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container">
    <h4 class="text-center">Add User</h4>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-antiforgery="true" />
        <div class="form-group">
            <label asp-for="User.Name">Name</label>
            <input type="text" class="form-control" asp-for="User.Name" required />
        </div>
        <div class="form-group">
            <label asp-for="User.Email">Email</label>
            <input type="email" class="form-control" asp-for="User.Email" required />
        </div>
        <div class="form-group">
            <label asp-for="User.PhoneNumber">Mobile</label>
            <input type="text" class="form-control" asp-for="User.PhoneNumber" required />
        </div>
        <button type="submit" class="btn btn-success">Add User</button>
    </form>
</div>