@page
@model api_flms_service.Pages.Loans.PaymentCallbackModel
@{
    ViewData["Title"] = "VNPay Payment Callback";
}

<h2>VNPay Payment Status</h2>

<div id="paymentResult"></div>

<script>
    async function checkPaymentStatus() {
        const urlParams = new URLSearchParams(window.location.search);
        const response = await fetch(`/api/v0/Loan/payment-callback?${urlParams}`);
        const text = await response.text();

        document.getElementById("paymentResult").innerText = text;
    }

    checkPaymentStatus();
</script>
