@page
@model api_flms_service.Pages.IndexModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>

    <script>
        function login() {
            window.location.href = `@Model.LoginUrl`;
        }
        function logout() {
            window.location.href = `@Model.LogoutUrl`;
        }
    </script>


</head>
<body>
    <h1>Hello from Razor Pages!</h1>
    <p>Welcome, @Model.CurrentUser?.Name</p>
    <p>Email: @Model.CurrentUser?.Email</p>
    <button onclick="login()">Login</button>
    <button onclick="logout()">Logout</button>
</body>

</html>
    