@page
@model api_flms_service.Pages.IndexModel
@{
    Layout = "_Layout";
}

<body>
    <script>
        function login() {
            window.location.href = `@Model.LoginUrl`;
        }
        function logout() {
            window.location.href = `@Model.LogoutUrl`;
        }
    </script>
    <h1>Hello from Razor Pages!</h1>
    <p>Welcome, @Model.CurrentUser?.Name</p>
    <p>Email: @Model.CurrentUser?.Email</p>
</body>
    